.turnos-acciones-td{
  display: flex;
  gap: 0.5rem;
}

.datos-generales-ficha-paciente {
  display: flex;
  justify-content: space-around;
}

.dato-general-ficha-paciente {
  display: flex;
  gap: 1rem;
}

.dato-general-ficha-paciente i {
  border: 1px solid blue;
  width: 2rem;
}

.patient-personal-info-content {
  border: 1px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap:1rem;
  flex: 1;
}

.patient-personal-info-item{
  border:1px solid green;
}

.modal-ficha-paciente {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}