.side-menu {
  width: 300px;
  background-color: #fff;
  border-right: 1px solid #e5e7eb;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.side-menu nav {
  display: flex;
  flex-direction: column;
  align-items: normal;
  gap: 8px;
}

.side-menu nav a, .cerrar-sesion-profesional{
  text-decoration: none;
  color: #333;
  padding: 10px 12px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.side-menu nav a:hover {
  background-color: #e8f0fe;
}

.side-menu nav a.active{
  background-color: #e8f0fe;
}

.cerrar-sesion-profesional{
  bordeR: 0;
  cursor: pointer;
  background-color: transparent;
}