.secondary-button{
    padding:12px;
    cursor: pointer;
    background-color: #60a5fa;
    color: var(--blanco);
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    border: 0;
}

.secondary-button:hover{
    background-color: #3b82f6;
}

.secondary-button:disabled{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #93c5fd;
    cursor: not-allowed;
}

.tertiary-button{
    background-color: var(--blanco);
    color: #3b82f6;
    border: 1px solid #3b82f6;
}

.tertiary-button:hover{
    background-color: aliceblue;
}

@media (max-width: 768px) {
    .secondary-button, .tertiary-button {
        text-align: center;
    }
}