header nav ul li, header nav ul li a{
    font-size: .75rem;
    color: var(--default-color);
    cursor: pointer;
    transition: .2s ease;
}

header nav ul li:hover, header nav ul li a:hover{
    color: var(--principal-color);
}