.header-btn {
    font-size: 13PX;
    color: var(--gray);
    border: 1px solid var(--default-color);
    padding: .5rem 1.5rem;
    transition: .1s ease;
    border-radius: 16px;
    cursor: pointer;
}

.header-btn:hover {
    background-color: var(--gris);
    border-color: var(--principal-color);
}

.log-container-logged {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.log-container-logged-btns {
    display: flex;
    gap: 3rem;
}

.nav-oculto{
    position:absolute;
    top:8rem;
    right:0;
    opacity: 0;
}

.aparecer{
    animation: var(--opacityIn);
    opacity: 1
}

@media (max-width: 768px) {
    .log-container-logged {
        flex-direction: column-reverse;
        gap:1rem;
        width: 100%;
    }
}