.spinner{
  width: 24px;
  height: 24px;
  border: 4px solid #ccc;
  border-top-color: var(--blanco);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}