.panel {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.panel-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.panel-content {
  flex: 1;
  background-color: #f7f7f9;
  padding: 2rem;
  overflow-y: auto;
  display: flex;
  align-items: center;
}

/********************/

.admin-section {
  width: 90%;
  margin: 40px auto;
  color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  animation: var(--fadeIn);
}

.admin-section h2 {
  text-align: center;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.7);
}

.admin-table {

  color: black;
  width: 100%;
  border-collapse: collapse;
}

.admin-table th,
.admin-table td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #333;
}

.admin-table th {
  background-color: #2a2a2a;
  color: #cfcfcf;
}

.admin-table tr:hover {
  background-color: #DFDFDF;
}

.status.active {
  color: #4caf50;
  font-weight: bold;
}

.status.inactive {
  color: #f44336;
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.pagination button {
  padding: 0.4rem 0.8rem;
  border: 1px solid #aaa;
  background: #1a1a1a;
  color: #ddd;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button.active {
  background: #6d28d9;
  /* violeta */
  color: #fff;
  border-color: #6d28d9;
}

.pagination button:disabled {
  opacity: 0.4;
  cursor: default;
}

@media (max-width: 1024px) {

  .panel-content {
    flex: 1;
    background-color: #f7f7f9;
    padding: 1rem;
  }

  .admin-section {
    width: 100%;
    margin: 50px;
    color: #f0f0f0;
    border-radius: 10px;
    padding: 0px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    animation: var(--fadeIn);
  }

  .admin-table,
  .admin-table thead,
  .admin-table tbody,
  .admin-table th,
  .admin-table td,
  .admin-table tr {
    display: block;
    width: 100%;
  }

  .admin-table thead {
    display: none;
  }

  .admin-table tr {
    margin-bottom: 22px;
    background: #ffffff;
    border-radius: 16px;
    padding: 18px 16px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
  }

  .admin-table td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 6px;
    border-bottom: 1px solid #e5e5e5;
    font-size: .75rem;
    gap: 12px;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  .admin-table td:last-child {
    border-bottom: none;
  }

  .admin-table td::before {
    content: attr(data-label);
    font-weight: 700;
    color: #333;
    font-size: 0.9rem;
    min-width: 120px;
  }
}