.panel {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.panel-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.panel-content {
  flex: 1;
  background-color: #f7f7f9;
  padding: 2rem;
  overflow-y: auto;
  border: 1px solid red;
  display: flex;
  align-items: center;
}

/********************/

.admin-section {
  width: 90%;
  margin: 40px auto;
  color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  animation: var(--fadeIn);
}

.admin-section h2 {
  text-align: center;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.7);
}

.admin-table {

  color: black;
  width: 100%;
  border-collapse: collapse;
}

.admin-table th,
.admin-table td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #333;
}

.admin-table th {
  background-color: #2a2a2a;
  color: #cfcfcf;
}

.admin-table tr:hover {
  background-color: #DFDFDF;
}

.status.active {
  color: #4caf50;
  font-weight: bold;
}

.status.inactive {
  color: #f44336;
  font-weight: bold;
}

.disable-btn,
.enable-btn,
.create-btn {
  padding: 6px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s;
}

.disable-btn {
  background-color: #f44336;
  color: #fff;
}

.disable-btn:hover {
  background-color: #d32f2f;
}

.enable-btn {
  background-color: #4caf50;
  color: #fff;
}

.enable-btn:hover {
  background-color: #388e3c;
}

.create-btn {
  background-color: #6200ea;
  color: #fff;
  margin-left: 8px;
}

.create-btn:hover {
  background-color: #4a00c4;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.pagination button {
  padding: 0.4rem 0.8rem;
  border: 1px solid #aaa;
  background: #1a1a1a;
  color: #ddd;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button.active {
  background: #6d28d9;
  /* violeta */
  color: #fff;
  border-color: #6d28d9;
}

.pagination button:disabled {
  opacity: 0.4;
  cursor: default;
}