.why-choose-us {
    margin: 3rem;
    display: flex;
    justify-content: center;
    width: 75%;
    min-width: 768px;
    align-self: center;
    gap: 3rem;
}

.why-choose-us-text-container {
    color: var(--gray);
    text-align: start;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.why-choose-us-text-container li {
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.why-choose-us img {

    box-shadow: 0px 0px 3px black;
}

@media (max-width: 1024px) {

    .why-choose-us {
        width: 100%;
        min-width: auto;
        margin: 1rem;
        padding: 1rem;
    }

    .why-choose-us-text-container {
        width: 100%;
        text-align: center;
    }

    .why-choose-us img {
        display: none;
    }
}