.logo {
    width: 100px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-text-content {
    display: flex;
    flex-direction: column;
    color: var(--default-color);
}

.logo-link {
    text-decoration: none;
}

@media (max-width: 640px) {
    .logo-container {
        width: 150px;
        gap:0.5rem;
    }

    .logo {
        width: 40px;
    }

    .logo-text-content {
        font-size: .7rem;
    }
}