.es-simple-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

@media (max-width: 1024px) {
    .es-simple-container {
        justify-content: space-around;
    }
}