.hero-section {
    position: relative;
    display: flex;
    justify-content: start;
    margin-top: 2rem;
    height: 80vh;
    min-height: 835px;
}

.hero-background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    background-image: url("./home.jpg");
    z-index: -1;
    background-size: cover;
    background-position: 50%;
}

.banner-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.banner-content-list {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1;
}

.banner-content ul li {
    font-size: 30px;
    font-family: "Sinkin Sans 500 Medium Italic";
    list-style: none;
}

.banner-content ul li::before {
    content: "✔ ";
}

.banner-content-form {
    width: 50%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

.banner-content-form h3 {
    color: var(--blanco);
    text-align: start;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 75%;
}

.sign-input-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.sign-input-container label {
    color: var(--blanco);
    font-weight: bold;
}

.sign-up-form input,
.sign-up-form select {
    padding: 1rem;
    width: 100%;
    border: 3px solid transparent;
    outline: 0;
    transition: .3s ease;
    background-color: var(--principal-color);
    color: var(--blanco);
    font-weight: bold;
    font-size: .9rem;
}

.sign-up-form input:focus,
.sign-up-form select:focus {
    border-color: var(--bkc-footer);
}

.sign-up-form input::placeholder {
    color: rgba(255, 255, 255, .6)
}

.fila {
    display: grid;
    gap: 1rem;
}

.fila-1,
.fila-3,
.fila-4 {
    grid-template-columns: repeat(2, 1fr);
}

.fila-2,
.fila-5 {
    grid-template-columns: 1fr;
}

.fila-6 {
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
    .hero-section {
        height: auto;
        margin-top: 0rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .hero-section {
        margin-top: 3rem;
    }
}

@media (max-width: 1024px) {

    .banner-content-list,
    .hero-background {
        display: none;
    }

    .banner-content {
        background-color: var(--bkc-footer);
    }

    .hero-section {
        height: auto;

    }

    .banner-content-form {
        width: 100%;
        ;
    }

    .sign-up-form {
        width: auto;
    }

    .fila-1,
    .fila-3,
    .fila-4 {
        grid-template-columns: repeat(1, 1fr);
    }

    .fila-2,
    .fila-5 {
        grid-template-columns: 1fr;
    }

    .fila-6 {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 1025px) and (max-width: 1366px) {

    .hero-background {
        background-position: 60%;
    }

    .banner-content-form {
        width: 60%;
        padding: 0rem;
    }
}