.hero-section {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: start;
}

.hero-background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url("./bk-top.jpg");
    background-size:cover;
    z-index: -1;
}

.banner-content{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    gap: 1rem;
    width: 50%; 
}

.banner-content ul li {
    font-size: 30px;
    font-family:"Sinkin Sans 500 Medium Italic";
    list-style: none;
}

.banner-content ul li::before {
    content: "✔ ";
}