.simple-task{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
}

.task-icon-container{
    background-color: var(--principal-color);
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-icon-container img{
    width:50%;
    height: 50%
}

@media (max-width: 1024px) {
    .simple-task{
        width: 30%;
    }
}