.container {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sign-up-main {
    display: flex;
    align-items: center;
    flex: 1;
}

.registro-container { 
    padding: 30px 150px;
    box-shadow: 0px 0px 10px var(--default-color); 
    width: 54%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    transform: translateZ(0);
    display:flex;
    flex-direction: column;
    gap:4rem;
}

/* Links */
.signup-link, .login-link {
    text-align: center;
    margin-top: 25px;
}

.signup-link p, .login-link p {
    font-size: 14px;
    color: #000000; /* Texto en negro */
}

.signup-text, .login-text {
    color: #000000; /* Links en negro */
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.signup-text:hover, .login-text:hover {
    color: #0026ff; /* Texto más oscuro al pasar el cursor */
    transform: scale(1.1);
}

/* Password Toggle Icon */
.ubication-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    
    background: transparent;
    
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.toggle-password {
    border: 2px solid #000; /* Contorno negro */
    border-radius: 50%;
    cursor: pointer;
}

.toggle-password::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid #000; 
    background-color: transparent;
}

.toggle-password::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #000; 
    opacity: 1;
}

.ubication-icon.active::after {
    opacity: 0;
}