.turnos-list-container {
  animation: var(--opacityIn);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.turnos-list-container .btns-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.turnos-list-container table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
}

.turnos-list-container thead {
  background: #5cb85c;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.turnos-list-container th {
  padding: 1rem;
  font-size: 1rem;
}

.turnos-list-container tbody tr {
  transition: .3s ease;
}

.turnos-list-container tbody tr:nth-child(even) {
  background: #f3e8ff;
}

.turnos-list-container tbody tr:nth-child(odd) {
  background: #fdf7ff;
}

/* Hover */
.turnos-list-container tbody tr:hover {
  background: #e0c3fc;
}

/* Celdas */
.turnos-list-container tbody td {
  padding: 0.75rem 1rem;
  text-align: center;
  color: #333;
  font-weight: 500;
}

.turnos-list-container p {
  text-align: center;
  font-size: larger;
}

@media (max-width: 768px) {

  .turnos-list-container table {
    width: auto;
  }

  .turnos-list-container th {
    padding: .5rem;
    font-size: .7rem;
  }

  .turnos-list-container tbody td {
    padding: .75rem;
    font-size: .75rem;
    font-weight: 500;
  }

}