.my-turns-section{
    background-color: #009c9b;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-turns-container h2, .my-turns-container p{
    color: var(--blanco); 
}

.my-turns-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 35%;
    animation: var(--fadeIn)
}

.no-paciente-container{
    background-color: #fcf8e3;
    padding:1rem;
}

.no-paciente-container p{
    color: #8a6d3b;
}
