.my-turns-container form{
    display: flex;
    flex-direction: column;
    gap:3rem;
}

.my-turns-input-container{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.my-turns-input-container input{
    padding:.5rem;
    background-color: var(--principal-color);
    outline: 0;
    border:0
}

.my-turns-input-container input:focus{
    box-shadow: 0 0 10px var(--gray);
}